<div class="container-fluid">
    <h1 class="content-header">Theory</h1>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" alt="Notes icon" src="" data-src="..." />
            <div class="card-block">
                <h4 class="card-title">Notes</h4>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" alt="Intervals icon" src="" data-src="..." />
            <div class="card-block">
                <h4 class="card-title">Intervals</h4>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" alt="Degrees icon" src="" data-src="..." />
            <div class="card-block">
                <h4 class="card-title">Degrees</h4>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" alt="Chords icon" src="" data-src="..." />
            <div class="card-block">
                <h4 class="card-title">Chords</h4>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" alt="Scales icon" src="" data-src="..." />
            <div class="card-block">
                <h4 class="card-title">Scales</h4>
            </div>
        </div>
    </div>
</div>