<div class="list-formatter" data-uib-dropdown="">
    <a href="#" id="list-formatter-dropdown" data-uib-dropdown-toggle="" role="button">
        <span class="fa" data-ng-class="{ 'fa-th': 'tile' === listFormatterCtrl.format, 'fa-th-list': 'detailed' === listFormatterCtrl.format, 'fa-list': 'condensed' === listFormatterCtrl.format }"></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="list-formatter-dropdown">
        <li data-ng-class="{ active: 'tile' === listFormatterCtrl.format }">
            <a href="" role="button" data-ng-click="listFormatterCtrl.switchFormat('tile')">
                <span class="fa fa-th"></span>
                <span class="sr-only">{{ 'list_display_tile'|translate }}</span>
            </a>
        </li>

        <li data-ng-class="{ active: 'detailed' === listFormatterCtrl.format }">
            <a href="" role="button" data-ng-click="listFormatterCtrl.switchFormat('detailed')">
                <span class="fa fa-th-list"></span>
                <span class="sr-only">{{ 'list_display_list_detailed'|translate }}</span>
            </a>
        </li>

        <li data-ng-class="{ active: 'condensed' === listFormatterCtrl.format }">
            <a href="" role="button" data-ng-click="listFormatterCtrl.switchFormat('condensed')">
                <span class="fa fa-list"></span>
                <span class="sr-only">{{ 'list_display_list_condensed'|translate }}</span>
            </a>
        </li>
    </ul>
</div>