<div class="instrument-specification guitar-specification row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <ui-flag data-type="default" data-value="specification.attributes.leftHanded">
                                <span class="fa fa-hand-paper-o fa-flip-horizontal"></span>
                                <span>Left-handed</span>
                            </ui-flag>
                        </div>

                        <div class="form-group">
                            <label for="">Nb strings</label>
                            <div>{{ specification.attributes.strings }}</div>
                        </div>

                        <div class="form-group">
                            <label for="">Nb frets</label>
                            <div>{{ specification.attributes.frets }}</div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <!-- Headstock of the Guitar -->
                        <div class="form-group">
                            <label for="">Headstock</label>
                            <div class="headstock-types">
                                <div class="headstock-type" data-ng-class="{ selected: 'top-bottom' === specification.attributes.headstock }">
                                    <img class="img-responsive" data-ng-src="{{ 'images/guitar/headstock/top-bottom.svg' |asset_path }}" />
                                    <span>top / bottom</span>
                                </div>

                                <div class="headstock-type" data-ng-class="{ selected: 'in-line' === specification.attributes.headstock }">
                                    <img class="img-responsive" data-ng-src="{{ 'images/guitar/headstock/in-line.svg' |asset_path }}" />
                                    <span>in line</span>
                                </div>
                            </div>
                        </div>

                        <!-- Body of the Guitar -->
                        <div class="form-group">
                            <label for="">Body</label>
                            <div class="body-types">
                                <div class="body-type" data-ng-class="{ selected: 'hollow' === specification.attributes.body }">
                                    <span>hollow</span>
                                </div>

                                <div class="body-type" data-ng-class="{ selected: 'semi-hollow' === specification.attributes.body }">
                                    <span>semi-hollow</span>
                                </div>

                                <div class="body-type" data-ng-class="{ selected: 'solid' === specification.attributes.body }">
                                    <span>solid</span>
                                </div>
                            </div>
                        </div>

                        <!-- Amplification of the Guitar -->
                        <div class="form-group">
                            <label for="">Amplification</label>
                            <div class="amplification-types">
                                <div class="amplification-type" data-ng-class="{ selected: 'acoustic' === specification.attributes.amplification }">
                                    <span>acoustic</span>
                                </div>

                                <div class="amplification-type" data-ng-class="{ selected: 'electro-acoustic' === specification.attributes.amplification }">
                                    <span>electro-acoustic</span>
                                </div>

                                <div class="amplification-type" data-ng-class="{ selected: 'electric' === specification.attributes.amplification }">
                                    <span>electric</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <tuning-widget
                data-tuning="specification.relationships.tuning.data"
                data-strings="specification.attributes.strings"
                data-headstock="specification.attributes.headstock"
                data-left-handed="specification.attributes.leftHanded">
        </tuning-widget>
    </div>
</div>