body {
    padding-top: 70px;
    background: url("../images/background.jpg") repeat scroll center top;
}

.navbar {
    .box-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.panel {
    position: relative;
    z-index: 2;
    .box-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.panel-with-buttons {
    margin-bottom: 0 !important;
}

.panel-buttons {
    position: relative;
    z-index: 1;
    margin-bottom: @line-height-computed;
    margin-right: @line-height-computed;
    .btn {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-top: none !important;
    }
}