@sidebar-width: 70px;

body {
    padding-top: 70px;
    /*background: url("../images/background.jpg") repeat scroll center top;*/
    background: #202020 !important;
}

.header {
    border: none;

    // .box-shadow(inset 0 0 3px rgba(0, 0, 0, 0.5));
    .box-shadow(none);

    .navbar-brand {
        width: @sidebar-width;
        background-color: #0c0c0c;
        text-align: center;
    }

    .active {
        > a {
            border-bottom: 1px solid @brand-primary;
            padding-bottom: @navbar-padding-vertical - 1px;
        }
    }
}

.sidebar {
    padding-top: @navbar-height;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    background: @brand-primary;

    & + .content {
        margin-left: @sidebar-width;
    }
}

.content {
    .page-header {
        border-bottom: none;
        color: @brand-primary;
        font-size: 20px;
        font-weight: 100;
        padding-bottom: 0;

        &:first-child {
            margin-top: 0;
        }

        .icon {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: 2px solid @brand-primary;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

            > .fa {
                font-size: 18px;
                margin: 5px 0;
            }
        }
    }
}

.big-icon, .user-logo {
    margin: 0 auto;
    vertical-align: middle;
    color: @brand-primary;
    border: 4px solid @brand-primary;

    width: 120px;
    height: 120px;
    border-radius: 60px;

    .fa {
        vertical-align: middle;

        font-size: 70px;
        margin-top: 20px;
    }
}

.panel {
    .box-shadow(none);
}
