<div class="instrument-specification guitar-specification row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Nb strings</label>
                            <input type="number" class="form-control" data-ng-model="specification.attributes.strings" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label for="">Nb frets</label>
                            <input type="number" class="form-control" data-ng-model="specification.attributes.frets" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Headstock</label>
                    <div class="headstock-types">
                        <div class="headstock-type" data-ng-click="specification.attributes.headstock = 'in-line'" data-ng-class="{ selected: 'in-line' === specification.attributes.headstock }">
                            <img class="img-responsive" data-ng-src="{{ 'images/guitar/headstock/in-line.svg' |asset_path }}" />
                            <span>in line</span>
                        </div>
                        <div class="headstock-type" data-ng-click="specification.attributes.headstock = 'top-bottom'" data-ng-class="{ selected: 'top-bottom' === specification.attributes.headstock }">
                            <img class="img-responsive" data-ng-src="{{ 'images/guitar/headstock/top-bottom.svg' |asset_path }}" />
                            <span>top / bottom</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <tuning-widget
                data-strings="specification.attributes.strings"
                data-headstock="specification.attributes.headstock">
        </tuning-widget>
    </div>
</div>