<div class="list-item list-item-tile panel panel-default" style="margin-bottom: 30px;">
    <!-- Info -->
    <div class="item-info panel-body">
        {{ entity.name }}
        <small data-translate="note_count"
               data-translate-values="{ COUNT: entity.notes_count }"
               data-translate-interpolation="messageformat"></small>
    </div>

    <!-- Item buttons -->
    <div class="list-item-btn-group">
        <a class="btn btn-default" href="#/theory/chords/{{ entity.id }}">
            <span class="fa fa-eye"></span>
            <span class="sr-only">{{ 'show_chord'|translate }}</span>
        </a>
    </div>
</div>
