<div class="list-item list-item-detailed panel panel-default">
    <div class="row">
        <!-- Image -->
        <div class="item-image col-lg-2 col-md-2 col-sm-2 col-xs-3">
            <img class="img-responsive instrument-type-img" data-ng-src="{{ 'images/' + resource.relationships.instrumentType.data.attributes.icon |asset_path }}" />
        </div>

        <!-- Info -->
        <div class="instrument-info item-info col-lg-10 col-md-10 col-sm-10 col-xs-9 panel-body">
            <h2 class="page-header">
                {{ resource.attributes.manufacturer }}

                <small data-ng-if="null !== resource.attributes.model">{{ resource.attributes.model }}</small>
            </h2>
        </div>

        <!-- Item buttons -->
        <div class="list-item-btn-group">
            <a class="btn btn-danger" href="" data-ng-click="listCtrl.remove(resource)">
                <span class="fa fa-trash-o"></span>
                <span class="sr-only">{{ 'delete_instrument'|translate }}</span>
            </a>

            <a class="btn btn-default" href="#/instruments/{{ resource.id }}/edit">
                <span class="fa fa-pencil"></span>
                <span class="sr-only">{{ 'edit_instrument'|translate }}</span>
            </a>

            <a class="btn btn-default" href="#/instruments/{{ resource.id }}">
                <span class="fa fa-eye"></span>
                <span class="sr-only">{{ 'show_instrument'|translate }}</span>
            </a>
        </div>
    </div>
</div>
