$dark-base: rgba(0, 0, 0, 0.25);

$box-shadow-base: 0 0 2px 1px rgba(0, 0, 0, 0.5);

$zindex-ui-alert: 999 !default;

$user-avatar-size: 2.75rem;

$push-menu-size: 200px;

// Header
//

$header-height:  ($user-avatar-size + ($navbar-padding-vertical * 2)) !default;
$header-bg:      $dark-base;
$header-menu-bg: rgba(0, 0, 0, 0.5);

// Menu
//

$menu-bg:           $dark-base;

// Text styles
$menu-font-size:    1.5rem;
$menu-color:        $body-color !default;
$menu-hover-color:  $gray-light !default;
$menu-active-color: $brand-primary !default;

// Defines the width of the menu for large screens (displayed fixed right)
$menu-width:     60px;
// Defines the height of the menu for small screens (displayed fixed bottom)
$menu-height:    ($menu-font-size * $line-height + ($navbar-padding-vertical * 2)) !default;

// Content
//

$content-bg:     none;
$content-shadow: none;