<!-- Library group -->
<div class="menu-group" *ngFor="let menuGroup of groups">
    <button type="button" role="button" class="menu-group-toggle btn">
        <span class="{{ menuGroup.icon }}"></span>
        <span class="sr-only">{{ menuGroup.label }}</span>
    </button>

    <ul class="menu-group-links">
        <li role="presentation" *ngFor="let item of menuGroup.items">
            <a role="link"
               [routerLink]="[item.route]"
               [routerLinkActive]="['router-link-active']"
               [routerLinkActiveOptions]="{exact: false}"
            >
                <span class="{{ item.icon }}"></span>
                <span class="menu-link-label">
                    {{ item.label }}
                </span>
            </a>
        </li>
    </ul>
</div>
