{% extends '::base.html.twig' %}

{% block content_title %}Theory <small>Summary</small>{% endblock %}

{% block content %}
    <a href="{{ path('theory_note') }}">Notes reference</a>
    {#<guitar-neck-widget></guitar-neck-widget>#}
{% endblock %}