{% extends '::base.html.twig' %}

{% block content_title %}Theory <small>Summary</small>{% endblock %}

{% block content %}
    <ul>
        <li><a href="{{ path('theory_interval') }}">List of intervals</a></li>
        <li><a href="{{ path('theory_note') }}">Notes reference</a></li>
    </ul>

{% endblock %}