{% extends '::base.html.twig' %}

{% block content %}
    <h1 class="page-header">
        <div class="icon">
            <span class="fa fa-pencil"></span>
        </div>
        Song edit
    </h1>

    {{ form_start(edit_form) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_widget(edit_form) }}
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-check"></span>
                Edit
            </button>

            <a href="{{ path('song') }}" class="btn btn-default">
                <span class="fa fa-times"></span>
                Cancel
            </a>

            <a href="" class="btn btn-danger">
                <span class="fa fa-trash-o"></span>
                Delete
            </a>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}

