{% extends '::base.html.twig' %}

{% block content %}


    <div class="row">
        <div class="col-md-3 text-center">
            <div class="text-center big-icon">
                <span class="fa fa-music"></span>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="page-header">{{ entity.title }} <small>{{ entity.artist }}</small></h1>
            <div class="panel panel-default">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>


    <table class="record_properties">
        <tbody>
            <tr>
                <th>Rating</th>
                <td>{{ entity.rating }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.mastery }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
