<nav class="sidebar">
    <!-- Library links -->
    <ul>
        <layout-sidebar-item data-url="#instruments" data-label="link.instrument" data-icon="music-icon music-icon-guitar-headstock"></layout-sidebar-item>
        <layout-sidebar-item data-url="#songs"       data-label="link.song_book"  data-icon="music-icon music-icon-music-folder"></layout-sidebar-item>
    </ul>

    <!-- Theory links -->
    <ul>
        <layout-sidebar-item data-url="#theory"  data-label="link.theory" data-icon="fa fa-book"></layout-sidebar-item>
        <layout-sidebar-item data-url="#lessons" data-label="link.lesson" data-icon="fa fa-graduation-cap"></layout-sidebar-item>
        <layout-sidebar-item data-url="#games"   data-label="link.game"   data-icon="fa fa-gamepad"></layout-sidebar-item>
    </ul>

    <!-- Community links -->
    <ul>
        <layout-sidebar-item data-url="#users"         data-label="link.musician"      data-icon="fa fa-users"></layout-sidebar-item>
        <layout-sidebar-item data-url="#forum"         data-label="link.forum"         data-icon="fa fa-comments"></layout-sidebar-item>
        <layout-sidebar-item data-url="#advertisement" data-label="link.advertisement" data-icon="fa fa-bullhorn"></layout-sidebar-item>
    </ul>
</nav>