{% extends 'ElorfinUserInterfaceBundle::base.html.twig' %}

{% block title %}Music Tools{% endblock %}

{% block body %}
    {# Top menu #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'header-authenticated.html.twig' %}
    {% else %}
        {% include 'header.html.twig' %}
    {% endif %}

    {# Content #}
    <div class="content container-fluid">
        {# User messages #}
        {% for message in app.session.getFlashBag.get('error') %}
            <div class="alert alert-error">{{ message|trans }}</div>
        {% endfor %}

        {% for message in app.session.getFlashBag.get('warning') %}
            <div class="alert alert-warning">{{ message|trans }}</div>
        {% endfor %}

        {% for message in app.session.getFlashBag.get('success') %}
            <div class="alert alert-success">{{ message|trans }}</div>
        {% endfor %}

        {# Page Content #}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
