{% extends '::base.html.twig' %}

{% block content_title %}{{ 'lessons'|trans }}{% endblock %}

{% block content %}
    <div class="lesson-list">
        {% for entity in entities %}
            
        {% else %}
            <div class="empty-list">
                {{ 'no_lesson_found'|trans }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
