<layout-page class="page-list instrument-list">
    <!-- Header buttons -->
    <ui-header-buttons>
        <!-- New Instrument button -->
        <ui-header-button class="nav-link-default">
            <a href="#/instruments/new">
                <span class="fa fa-fw fa-plus"></span>
                {{ 'new_instrument'|translate }}
            </a>
        </ui-header-button>

        <li class="divider"></li>

        <!-- List format button -->
        <ui-header-button class="nav-link-default">
            <layout-list-formatter data-format="instrumentListCtrl.format"></layout-list-formatter>
        </ui-header-button>
    </ui-header-buttons>

    <!-- Title of the page -->
    <layout-page-title id="song-list">
        {{ 'my_instruments_title'|translate }}

        <layout-list-sorter data-element="instrument" data-count="instrumentListCtrl.resources.length" data-current="instrumentListCtrl.sortBy" data-reverse="instrumentListCtrl.sortReverse" data-fields="instrumentListCtrl.sortFields"></layout-list-sorter>
    </layout-page-title>

    <div class="row">
        <!-- List items -->
        <div data-ng-repeat="resource in instrumentListCtrl.resources|orderBy:instrumentListCtrl.sortBy:instrumentListCtrl.sortReverse"
             data-ng-include="'../app/instrumentListCtrl/Partial/List/item-' + instrumentListCtrl.format + '.html'"
             data-ng-class="{ 'col-md-12': 'tile' !== instrumentListCtrl.format, 'col-xs-12 col-sm-4 col-md-3 col-lg-2': 'tile' === instrumentListCtrl.format }"
        ></div>
    </div>

    <!-- No element message -->
    <div class="empty-list" data-ng-if="instrumentListCtrl.resources.length === 0">
        {{ 'no_instrument_found'|translate }}
    </div>
</layout-page>
