<layout-page>
    <!-- Title of the page -->
    <layout-page-title>My instruments</layout-page-title>

    <!-- Header buttons -->
    <layout-page-buttons>
        <layout-page-button class="nav-link-default">
            <a href="#/instruments/new">
                <span class="fa fa-fw fa-plus"></span>
                Add a new instrument
            </a>
        </layout-page-button>
    </layout-page-buttons>

    <div class="guitar-list">
        <div class="panel panel-default" data-ng-repeat="instrument in listViewCtrl.instruments" data-ng-if="listViewCtrl.instruments.length !== 0">
            <div class="panel-body">
                <h2 class="page-header">
                    {{ instrument.manufacturer }}

                    <small data-ng-if="null !== instrument.model">{{ instrument.model }}</small>
                </h2>

                <a class="btn btn-round btn-default" href="#/instruments/{{ instrument.id }}">
                    <span class="fa fa-fw fa-eye"></span>
                    <span class="sr-only">show</span>
                </a>

                <a class="btn btn-round btn-default" href="#/instruments/{{ instrument.id }}/edit">
                    <span class="fa fa-fw fa-pencil"></span>
                    <span class="sr-only">edit</span>
                </a>
            </div>
        </div>

        <div class="empty-list" data-ng-if="listViewCtrl.instruments.length === 0">
            no_instrument_found
        </div>
    </div>
</layout-page>