<ul class="instrument-menu">
    <!-- Scale dropdown -->
    <li class="scale-dropdown" data-uib-dropdown="">
        <a href="#" data-uib-dropdown-toggle="" role="button">
            <span class="fa-stack">
                <span class="fa fa-circle-thin fa-stack-2x"></span>
                <span class="music-icon music-icon-tuning fa-stack-1x"></span>
            </span>

            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-check">
            <li class="active">
                <a href="#" class="scale-link">
                    <span class="link-label">Standard</span>
                    <small>E A D G B E</small>

                    <span class="fa fa-check"></span>
                </a>
            </li>

            <li class="dropdown-header">Power</li>

            <li>
                <a href="#" class="scale-link">
                    <span class="link-label">Drop D</span>
                    <small>D A D G B E</small>

                    <span class="fa fa-check"></span>
                </a>
            </li>

            <li>
                <a href="#" class="scale-link">
                    <span class="link-label">Drop C</span>
                    <small>C G C F A D</small>

                    <span class="fa fa-check"></span>
                </a>
            </li>

            <li class="dropdown-header">Open</li>

            <li>
                <a href="#" class="scale-link">
                    <span class="link-label">Open C</span>
                    <small>C G C G C E</small>

                    <span class="fa fa-check"></span>
                </a>
            </li>
        </ul>
    </li>

    <!-- Guitar dropdown -->
    <li class="guitar-dropdown" data-uib-dropdown="">
        <a href="#" data-uib-dropdown-toggle="" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="music-icon music-icon-guitar-headstock fa-stack-1x"></i>
            </span>

            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-check">
            <li>
                <a href="#" class="guitar-link">
                    <span class="link-label">Default</span>
                    <small>E A D G B E</small>

                    <span class="fa fa-check"></span>
                </a>
            </li>

            <li class="dropdown-header">My guitars</li>

            <li class="active">
                <a href="#" class="guitar-link">
                    <span class="link-label">Jackson SLATTXMG 3-6 SG</span>
                    <small>E A D G B E</small>

                    <span class="fa fa-check"></span>
                </a>
            </li>

            <li>
                <a href="#" class="guitar-link">
                    <span class="link-label">Ibanez GRG</span>
                    <small>E A D G B E</small>

                    <span class="fa fa-check"></span>
                </a>
            </li>

            <li>
                <a href="#" class="guitar-link">
                    <span class="link-label">Takamine folk</span>
                    <small>E A D G B E</small>

                    <span class="fa fa-check"></span>
                </a>
            </li>
        </ul>
    </li>

    <!-- Current selection -->
    <li>
        <p class="navbar-text">
            <b class="link-label">Jackson SLATTXMG 3-6 SG</b>
            <small>E A D G B E</small>
        </p>
    </li>
</ul>