<layout-page>
    <!-- Header buttons -->
    <layout-page-buttons>
        <layout-page-button class="nav-link-danger">
            <a href="">
                <span class="fa fa-fw fa-trash-o"></span>
                Delete
            </a>
        </layout-page-button>

        <layout-page-button class="nav-link-default">
            <a href="#/instruments/{{ instrumentShowCtrl.entity.id }}/edit">
                <span class="fa fa-fw fa-pencil"></span>
                Edit
            </a>
        </layout-page-button>
    </layout-page-buttons>

    <div class="instrument-show row">

    </div>
</layout-page>
