<div class="container-fluid">
    <h1 class="content-header">
        Instruments
    </h1>

    <div class="card-deck">
        <a class="card instrument-item" *ngFor="let instrument of instruments" [routerLink]="['/instruments', instrument.id]">
            <div class="card-header">
                {{ instrument.attributes.name }}
            </div>
            <img class="card-img instrument-type" data-src="{{ 'dist/images/' + instrument.relationships.instrumentType.data.attributes.icon }}" alt="Card image cap" />

            <div class="card-btns">
                <button type="button" class="card-btn btn btn-secondary">
                    <span class="fa fa-fw fa-check"></span>
                </button>

                <button type="button" class="card-btn btn btn-secondary">
                    <span class="fa fa-fw fa-trash-o text-danger"></span>
                </button>
            </div>
        </a>
    </div>
</div>