<ul class="instrument-menu">
    <!-- Instrument dropdown -->
    <li class="guitar-dropdown" data-uib-dropdown="">
        <a href="#" data-uib-dropdown-toggle="" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="music-icon music-icon-guitar-headstock fa-stack-1x"></i>
            </span>

            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-check">
            <li>
                <a href="#">
                    <span class="link-label">Default</span>
                    <small>E A D G B E</small>
                </a>
            </li>

            <li class="dropdown-header">My guitars</li>

            <li class="active">
                <a href="#">
                    <span class="link-label">Jackson SLATTXMG 3-6 SG</span>
                    <small>E A D G B E</small>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="link-label">Ibanez GRG</span>
                    <small>E A D G B E</small>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="link-label">Takamine folk</span>
                    <small>E A D G B E</small>
                </a>
            </li>

            <!-- Add a new instrument -->
            <li class="text-center">
                <a href="#">
                    <span class="fa fa-plus"></span>
                    Add instrument
                </a>
            </li>
        </ul>
    </li>

    <!-- Current selection -->
    <li>
        <p class="navbar-text">
            <b class="link-label">Jackson SLATTXMG 3-6 SG</b>
            <small>E A D G B E</small>
        </p>
    </li>
</ul>