<div class="modal-header">
    <span class="fa-stack">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x"></i>
    </span>

    <h3 class="modal-title">
        {{ 'new_instrument'|translate }}
    </h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <div class="widget instrument-type">
                <div data-uib-dropdown="">
                    <a href="" id="types-dropdown" data-uib-dropdown-toggle="">
                        {{ instrumentNewCtrl.selectedType.attributes.name || '-- select type --' }}
                        <span class="fa fa-caret-down pull-right"></span>
                    </a>

                    <ul data-uib-dropdown-menu="" aria-labelledby="types-dropdown">
                        <li data-ng-repeat="instrumentType in instrumentNewCtrl.instrumentTypes" data-ng-class="{'active': instrumentType.id == instrumentNewCtrl.selectedType.id }">
                            <a href="" data-ng-click="instrumentNewCtrl.selectedType = instrumentType">{{ instrumentType.attributes.name }}</a>
                        </li>
                    </ul>
                </div>

                <img class="img-responsive instrument-type-img" data-ng-src="{{ 'images/' + (instrumentNewCtrl.selectedType ? instrumentNewCtrl.selectedType.attributes.icon : 'instrument/empty.svg') |asset_path }}" />
            </div>
        </div>

        <div class="col-md-9">
            <ul class="list-group" data-ng-if="instrumentNewCtrl.selectedType">
                <li class="list-group-item"
                    data-ng-repeat="instrument in instrumentNewCtrl.instruments|filter:{ relationships: { instrumentType: { data: instrumentNewCtrl.selectedType } } }"
                    data-ng-class="{ active: instrument === instrumentNewCtrl.selectedInstrument }"
                    data-ng-click="instrumentNewCtrl.selectedInstrument = instrument"
                >
                    {{ instrument.attributes.name }}
                </li>
            </ul>

            <div class="alert alert-info" data-ng-if="!instrumentNewCtrl.selectedType">
                <span class="fa fa-fw fa-info-circle"></span>
                Select an instrument type.
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="ok()">
        <span class="fa fa-plus"></span>
        Add
    </button>

    <button class="btn btn-default" type="button" data-ng-click="cancel()">
        <span class="fa fa-times"></span>
        Cancel
    </button>
</div>