<layout-page class="interval-list">
    <!-- Title of the page -->
    <layout-page-title>
        Theory <small>Intervals</small>
    </layout-page-title>

    <div class="row">
        <div class="col-md-5">
            <interval-player data-interval="intervalListCtrl.selected"></interval-player>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Semitones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr data-ng-click="intervalListCtrl.selectInterval(resource)" data-ng-repeat="resource in intervalListCtrl.resources" data-ng-class="{ 'active': resource === intervalListCtrl.selected }">
                            <td>{{ resource.attributes.symbol }}</td>
                            <td>{{ resource.attributes.name }}</td>
                            <td>{{ resource.attributes.value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</layout-page>