<div class="shape-widget">
    <div class="shape-col body-col">
        <object width="100%" class="headstock-img" data="{{ asset('bundles/musictoolsinstrument/images/guitar/body/LP.svg') }}" type="image/svg+xml"></object>
    </div>

    <div class="shape-col headstock-col">

    </div>
</div>