<div class="tuning-widget">
    <div class="tuning-list">
        <select class="form-control">
            <option value="">Standard (EADGBE)</option>

            <optgroup label="Drop">
                <option value="">Drop D (DADGBE)</option>
                <option value="">Drop C (CGCFAD)</option>
            </optgroup>

            <optgroup lobal="Open">

            </optgroup>
        </select>
    </div>

    <div class="tuning-edit">
        <div class="tuning-col strings-col strings-col-left">
            <div class="strings-wrapper">
                <div class="strings-row">
                    <div class="strings-cell text-center">
                        <button class="note-select note-up btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-up"></span>
                        </button>

                        <input type="text" class="form-control input-sm" name="" value="D" />

                        <button class="note-select note-down btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-down"></span>
                        </button>
                    </div>
                </div>

                <div class="strings-row">
                    <div class="strings-cell text-center">
                        <button class="note-select note-up btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-up"></span>
                        </button>

                        <input type="text" class="form-control input-sm" name="" value="A" />

                        <button class="note-select note-down btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-down"></span>
                        </button>
                    </div>
                </div>

                <div class="strings-row">
                    <div class="strings-cell text-center">
                        <button class="note-select note-up btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-up"></span>
                        </button>

                        <input type="text" class="form-control input-sm" name="" value="E" />

                        <button class="note-select note-down btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tuning-col headstock">
            <object width="100%" class="headstock-img" data="{{ asset('bundles/musictoolsinstrument/images/guitar/headstock/ESP-headstock-sharp.svg') }}" type="image/svg+xml"></object>
        </div>

        <div class="tuning-col strings-col strings-col-right">
            <div class="strings-wrapper">
                <div class="strings-row">
                    <div class="strings-cell text-center">
                        <button class="note-select note-up btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-up"></span>
                        </button>

                        <input type="text" class="form-control input-sm" name="" value="G" />

                        <button class="note-select note-down btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-down"></span>
                        </button>
                    </div>
                </div>

                <div class="strings-row">
                    <div class="strings-cell text-center">
                        <button class="note-select note-up btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-up"></span>
                        </button>

                        <input type="text" class="form-control input-sm" name="" value="B" />

                        <button class="note-select note-down btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-down"></span>
                        </button>
                    </div>
                </div>

                <div class="strings-row">
                    <div class="strings-cell text-center">
                        <button class="note-select note-up btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-up"></span>
                        </button>

                        <input type="text" class="form-control input-sm" name="" value="E" />

                        <button class="note-select note-down btn btn- btn-xs btn-default">
                            <span class="fa fa-fw fa-angle-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>