ui-alert {
  position: absolute;
  z-index: $zindex-ui-alert;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  .alert {
    /*text-align: center;*/
    box-shadow: $box-shadow-base;

    .alert-message,
    .alert-link {
      vertical-align: middle;
    }

    .alert-icon {
      color: rgba(0, 0, 0, 0.20);
      margin-right: 5px;
    }

    .alert-link {
      color: rgba(0, 0, 0, 0.20);
    }
  }
}