<div class="guitar-neck-widget">
    <canvas width="1000" height="300" style="margin-bottom: 15px;"></canvas>

    <div class="row">
        <div class="col-md-6">
            <div class="h4">Configure frets display</div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 form-group text-center">
                            <p class="form-control-static">from</p>
                        </div>

                        <div class="col-md-4 form-group">
                            <input type="text" class="form-control text-center" />
                        </div>

                        <div class="col-md-2 form-group text-center">
                            <p class="form-control-static">to</p>
                        </div>

                        <div class="col-md-4 form-group">
                            <input type="text" class="form-control text-center" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="checkbox col-md-12">
                            <label>
                                <input type="checkbox" /> Show frets number
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="checkbox col-md-12">
                            <label>
                                <input type="checkbox" /> Highlight reference frets (1, 3, 5, ...)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h4">Configure notes display</div>
            <div class="panel panel-default">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>