<div class="dropdown" [ngClass]="{open: opened}" (onClickOut)="opened = false">
    <a class="dropdown-toggle" role="button" id="instrumentDropdown" aria-haspopup="true" (click)="opened = !opened">
        <instrument-item [instrument]="current"></instrument-item>
    </a>

    <div class="dropdown-menu" aria-labelledby="instrumentDropdown">
        <a class="dropdown-item" (click)="selectInstrument(instrument)" *ngFor="let instrument of instruments">
            <instrument-item [instrument]="instrument"></instrument-item>
        </a>

        <a class="btn btn-link text-center" (click)="createInstrument()">
            <span class="fa fa-plus"></span>
            add an instrument
        </a>
    </div>
</div>