<div class="list-item list-item-condensed panel panel-default">
    <!-- Info -->
    <div class="item-info panel-body">
        {{ entity.manufacturer }}

        <small data-ng-if="null !== entity.model">{{ entity.model }}</small>
    </div>

    <!-- Item buttons -->
    <div class="list-item-btn-group">
        <a class="btn btn-danger" href="" data-ng-click="instrumentListCtrl.remove(entity)">
            <span class="fa fa-trash-o"></span>
            <span class="sr-only">{{ 'delete_instrument'|translate }}</span>
        </a>

        <a class="btn btn-default" href="#/instruments/{{ entity.id }}/edit">
            <span class="fa fa-pencil"></span>
            <span class="sr-only">{{ 'edit_instrument'|translate }}</span>
        </a>

        <a class="btn btn-default" href="#/instruments/{{ entity.id }}">
            <span class="fa fa-eye"></span>
            <span class="sr-only">{{ 'show_instrument'|translate }}</span>
        </a>
    </div>
</div>
