<layout-page class="note-list">
    <!-- Header buttons -->
    <ui-header-nav class="ui-header-buttons">
        <!-- Note menu -->
        <li role="presentation" class="nav-link-default">
            <note-menu></note-menu>
        </li>
    </ui-header-nav>

    <!-- Title of the page -->
    <layout-page-title>
        Theory <small>Notes</small>
    </layout-page-title>

    <div class="row">
        <div class="col-md-12">
            <guitar-neck-widget></guitar-neck-widget>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <canvas id="note-references"></canvas>
        </div>

        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="resource in listCtrl.resources">{{ resource|note_name }}</li>
            </ul>
        </div>
    </div>
</layout-page>