<div class="card tuner">
    <!--<div class="card-header">
        <span class="mu mu-tuning"></span>
        My tuner
    </div>-->

    <div class="dropdown">

    </div>

    <div class="dropdown" [ngClass]="{open: opened}" (onClickOut)="opened = false">
        <a class="dropdown-toggle" role="button" id="tuningDropdown" aria-haspopup="true" (click)="opened = !opened">
            select tuning
        </a>

        <div class="dropdown-menu" aria-labelledby="tuningDropdown">
            <a class="dropdown-item" *ngFor="let tuning of tunings">
                {{ tuning.attributes.name }}
            </a>
        </div>
    </div>

    <div class="card-block tuner-block">
        <div class="tuner-col tuner-notes">
            <div class="tuner-cell">
                <input type="text" class="form-control" name="" value="D" />
            </div>

            <div class="tuner-cell">
                <input type="text" class="form-control" name="" value="A" />
            </div>

            <div class="tuner-cell">
                <input type="text" class="form-control" name="" value="E" />
            </div>
        </div>

        <div class="tuner-col tuner-headstock">
            <canvas #tunerCanvas class="tuning-headstock"></canvas>
        </div>

        <div class="tuner-col tuner-notes">
            <div class="tuner-cell">
                <input type="text" class="form-control" name="" value="G" />
            </div>

            <div class="tuner-cell">
                <input type="text" class="form-control" name="" value="B" />
            </div>

            <div class="tuner-cell">
                <input type="text" class="form-control" name="" value="E" />
            </div>
        </div>
    </div>
</div>
