<div class="card tuner">
    <div class="card-block">
        <div class="dropdown" [ngClass]="{open: opened}" (onClickOut)="opened = false">
            <a class="dropdown-toggle" role="button" id="tuningDropdown" aria-haspopup="true" (click)="opened = !opened">
                <em *ngIf="!instrument || !instrument.relationships.tuning">-- select tuning --</em>
                <div *ngIf="instrument && instrument.relationships.tuning">
                    {{ instrument.relationships.tuning.data.attributes.name }}
                    <small>{{ instrument.relationships.tuning.data.displayNotes() }}</small>
                </div>
            </a>

            <div class="dropdown-menu" aria-labelledby="tuningDropdown">
                <a class="dropdown-item" *ngFor="let tuning of tunings" (click)="selectTuning(tuning)">
                    {{ tuning.attributes.name }}
                    <small>{{ tuning.displayNotes() }}</small>
                </a>
            </div>
        </div>

        <div class="tuner-block">
            <div class="tuner-col tuner-notes" *ngIf="instrument">
                <div class="tuner-cell">
                    <note-input [note]="instrument.relationships.tuning.data.relationships.notes.data[2]"></note-input>
                </div>

                <div class="tuner-cell">
                    <note-input [note]="instrument.relationships.tuning.data.relationships.notes.data[1]"></note-input>
                </div>

                <div class="tuner-cell">
                    <note-input [note]="instrument.relationships.tuning.data.relationships.notes.data[0]"></note-input>
                </div>
            </div>

            <div class="tuner-col tuner-headstock">
                <canvas #tunerCanvas class="tuning-headstock"></canvas>
            </div>

            <div class="tuner-col tuner-notes" *ngIf="instrument">
                <div class="tuner-cell">
                    <note-input [note]="instrument.relationships.tuning.data.relationships.notes.data[3]"></note-input>
                </div>

                <div class="tuner-cell">
                    <note-input [note]="instrument.relationships.tuning.data.relationships.notes.data[4]"></note-input>
                </div>

                <div class="tuner-cell">
                    <note-input [note]="instrument.relationships.tuning.data.relationships.notes.data[5]"></note-input>
                </div>
            </div>
        </div>
    </div>
</div>
