<div class="list-item list-item-condensed panel panel-default">
    <!-- Info -->
    <div class="item-info panel-body">
        {{ listCtrl.root|note_name }}
        {{ resource.attributes.name }}
        <small data-translate="note_count"
               data-translate-values="{ COUNT: resource.attributes.notes_count }"
               data-translate-interpolation="messageformat"></small>
    </div>

    <!-- Item buttons -->
    <div class="list-item-btn-group">
        <a class="btn btn-default" href="#/theory/chords/{{ resource.id }}">
            <span class="fa fa-eye"></span>
            <span class="sr-only">{{ 'show_chord'|translate }}</span>
        </a>
    </div>
</div>
