{% extends '::base.html.twig' %}

{% block content %}
    <h3 class="page-header">
        <div class="icon">
            <span class="fa fa-pencil"></span>
        </div>
        Guitar edit
    </h3>

    {{ form_start(edit_form) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_widget(edit_form) }}
            </div>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-check"></span>
                Create
            </button>

            <a href="{{ path('guitar') }}" class="btn btn-default">
                <span class="fa fa-times"></span>
                Cancel
            </a>

            <a href="" class="btn btn-danger">
                <span class="fa fa-trash-o"></span>
                Delete
            </a>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}
