{% extends '::base.html.twig' %}

{% block content %}
    <h1 class="page-header">
        <div class="icon">
            <span class="fa fa-plus"></span>
        </div>
        Guitar creation
    </h1>

    {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_widget(form) }}
            </div>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-check"></span>
                Create
            </button>

            <a href="{{ path('guitar') }}" class="btn btn-default">
                <span class="fa fa-times"></span>
                Cancel
            </a>
        </div>
    {{ form_end(form) }}
{% endblock %}
