<layout-page>
    <!-- Title of the page -->
    <layout-page-title>
        My songbook

        <!-- New element -->
        <small data-ng-if="formCtrl.isNew()">New</small>

        <!-- Edit element -->
        <small data-ng-if="!formCtrl.isNew()">Edit</small>
    </layout-page-title>

    <!-- Header buttons -->
    <ui-header-nav class="ui-header-buttons">
        <!-- Delete button while editing -->
        <li role="presentation" data-ng-if="!formCtrl.isNew()" class="nav-link-danger">
            <a href="">
                <span class="fa fa-fw fa-trash-o"></span>
                Delete
            </a>
        </li>

        <li class="divider" data-ng-if="!formCtrl.isNew()"></li>

        <!-- Cancel -->
        <li role="presentation" class="nav-link-default">
            <a href="#/songs">
                <span class="fa fa-fw fa-times"></span>
                Cancel
            </a>
        </li>

        <!-- Validate form -->
        <li role="presentation" class="nav-link-default">
            <a href="" data-ng-click="formCtrl.submit()">
                <span class="fa fa-fw fa-check"></span>
                <span data-ng-if="formCtrl.isNew()">Create</span>
                <span data-ng-if="!formCtrl.isNew()">Edit</span>
            </a>
        </li>
    </ui-header-nav>

    <!-- Form -->
    <form class="song-form row">
        <div class="col-md-3">
            <!-- Cover -->
            <fieldset
                class="file-upload-dropbox" style="margin-bottom: 30px;"
                data-ngf-drop="formCtrl.selectCover($file)"
                data-ngf-accept="'image/*'"
                data-ngf-max-size="2MB"
            >
                <legend>Cover</legend>

                <div class="dropbox-thumb">
                    <!-- File preview -->
                    <img class="img-responsive img-shadow" data-ngf-src="formCtrl.data.cover.file || '{{ formCtrl.resource.cover.path ? (formCtrl.resource.cover.path|upload_path) : ('images/no-cover.png'|asset_path) }}'" />

                    <!-- Choose a file to Upload -->
                    <a href="" role="button" class="dropbox-select btn btn-block btn-default" data-ngf-select="formCtrl.selectCover($file)">
                        <span class="fa fa-upload"></span>
                        Choose a file
                    </a>

                    <!-- Remove uploaded file -->
                    <a href="" role="button" class="dropbox-remove btn btn-danger" data-ng-click="formCtrl.removeCover()" data-ng-show="formCtrl.resource.cover.file || formCtrl.resource.cover.path">
                        <span class="fa fa-trash-o"></span>
                        <span class="sr-only">Remove uploaded file</span>
                    </a>
                </div>
            </fieldset>

            <!--Rating-->
            <fieldset class="text-center" style="margin-bottom: 30px;">
                <legend>Rating</legend>
                <score-field data-model="formCtrl.resource.attributes.rating" data-icon="fa fa-star"></score-field>
            </fieldset>

            <!--Mastery-->
            <fieldset class="text-center" style="margin-bottom: 30px;">
                <legend>Mastery</legend>
                <score-field data-model="formCtrl.resource.attributes.mastery" data-icon="music-icon music-icon-note"></score-field>
            </fieldset>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default panel-last">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="song_name" class="control-label">Title</label>
                        <input type="text" class="form-control" name="song_name" id="song_name" data-ng-model="formCtrl.resource.attributes.name" />
                    </div>

                    <div class="form-group">
                        <label for="song_artist" class="control-label">Artist</label>
                        <input type="text" class="form-control" name="song_artist" id="song_artist" data-ng-model="formCtrl.resource.attributes.artist" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</layout-page>