<h2 class="sr-only page-header">Summary</h2>

<ul class="lesson-summary">
    <li data-ng-repeat="section in lessonFormCtrl.resource.sections">
        {{ section.name }}

        <!-- Item buttons -->
        <div class="list-item-btn-group">
            <a class="btn btn-danger" href="" data-ng-click="lessonFormCtrl.remove(resource)">
                <span class="fa fa-trash-o"></span>
                <span class="sr-only">{{ 'delete_song'|translate }}</span>
            </a>

            <a class="btn btn-default" href="#/section/{{ lessonFormCtrl.resource.id }}/edit">
                <span class="fa fa-pencil"></span>
                <span class="sr-only">{{ 'edit_section'|translate }}</span>
            </a>
        </div>
    </li>
    <li>
        <a role="button" href="" data-ng-click="lessonFormCtrl.addSection()">
            <span class="fa fa-plus"></span>
            Add a new Section
        </a>
    </li>
</ul>