<div *ngIf="alerts[0]" (click)="removeAlert()" class="alert alert-{{ alerts[0].type }} text-center" role="alert">
    <span class="alert-icon fa-stack">
        <span class="fa fa-circle-thin fa-stack-2x"></span>
        <span class="fa fa-stack-1x"
              [ngClass]="{
                'fa-check': 'success' == alerts[0].type,
                'fa-minus': 'danger' == alerts[0].type,
                'fa-exclamation': 'warning' == alerts[0].type,
                'fa-info': 'info' == alerts[0].type
              }"
        ></span>
    </span>

    <span class="alert-message">{{ alerts[0].message }}</span>

    <!-- Detail -->
    <a href="" class="alert-link" (click)="openDetail()" *ngIf="alerts[0].detail">
        DETAIL
    </a>

    <!-- Retry -->
    <a href="" class="alert-link" (click)="openDetail()" *ngIf="alerts[0].retry">
        RETRY
    </a>

    <!-- Cancel -->
    <a href="" class="alert-link" (click)="openDetail()" *ngIf="alerts[0].cancel">
        CANCEL
    </a>
</div>
