.instrument-type-img {
    opacity: 0.3;
}

.instrument-type {
    .dropdown {
        .dropdown-menu {
            background: @panel-bg;
            border: none;
            border-radius: 0;
            box-shadow: none;
            margin: 0;
            width: 100%;

            li {
                &.active a,
                a:hover {
                    color: @brand-primary;
                    background: @panel-bg;
                }
            }
        }
    }
}