<layout-page>
    <!-- Title of the page -->
    <layout-page-title>
        Lesson

        <!-- New element -->
        <small data-ng-if="formCtrl.isNew()">New</small>

        <!-- Edit element -->
        <small data-ng-if="!formCtrl.isNew()">Edit</small>
    </layout-page-title>

    <!-- Header buttons -->
    <ui-header-nav class="ui-header-buttons">
        <!-- Delete button while editing -->
        <li role="presentation" data-ng-if="!formCtrl.isNew()" class="nav-link-danger">
            <a href="">
                <span class="fa fa-fw fa-trash-o"></span>
                Delete
            </a>
        </li>

        <li class="divider" data-ng-if="!formCtrl.isNew()"></li>

        <!-- Cancel -->
        <l role="presentation" class="nav-link-default">
            <a href="#/lessons">
                <span class="fa fa-fw fa-times"></span>
                Cancel
            </a>
        </l>

        <!-- Validate form -->
        <li role="presentation" class="nav-link-default">
            <a href="" data-ng-click="formCtrl.submit()">
                <span class="fa fa-fw fa-check"></span>
                <span data-ng-if="formCtrl.isNew()">Create</span>
                <span data-ng-if="!formCtrl.isNew()">Edit</span>
            </a>
        </li>
    </ui-header-nav>

    <!-- Form -->
    <form class="lesson-form">
        <ul class="lesson-menu">
            <li data-ng-class="{ active: 'info' === formCtrl.view }">
                <a href="" role="button" class="btn btn-round btn-primary" data-ng-click="formCtrl.changeView('info')">
                    <span class="fa fa-fw fa-info"></span>
                </a>
            </li>
            <li data-ng-class="{ active: 'summary' === formCtrl.view }">
                <a href="" role="button" class="btn btn-round btn-primary" data-ng-click="formCtrl.changeView('summary')">
                    <span class="fa fa-fw fa-list"></span>
                </a>
            </li>
            <li data-ng-class="{ active: 'section' === formCtrl.view }">
                <a href="" role="button" class="btn btn-round btn-primary" data-ng-click="formCtrl.changeView('section')">
                    <span class="fa fa-fw fa-pencil"></span>
                </a>
            </li>
        </ul>

        <div class="lesson-content" data-ng-include="'Lesson/Form/' + formCtrl.view + '.html'|partial_path:'app/Lesson'"></div>
    </form>
</layout-page>