.list-sorter {
    position: absolute;
    right: 0;
    bottom: 0;
    color: @gray;
    font-size: @font-size-base;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;

    b {
        color: @text-color;
    }

    a {
        color: @text-color;
        font-weight: bold;

        &:hover, &:focus {
            color: @brand-primary;
        }
    }
}

.list-formatter {
    /* the wrap <div> break the default Bootstrap nav-link styles, so lets recreate it */
    > a {
        position: relative;
        display: block;
        padding: @navbar-padding-vertical @navbar-padding-horizontal;
        line-height: @line-height-computed;
        color: @navbar-default-link-color;

        &:hover,
        &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
        }
    }

    .dropdown-menu {
        margin: 0;
    }
}

.list-view {
    .list-item {

    }
}

.empty-list {
    font-style: italic;
    text-align: center;
}