.wizard-step-title {
    font-size: 16px;
    margin-bottom: floor(@grid-gutter-width / 2);
}

.wizard-breadcrumbs {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: 0;

    .wizard-breadcrumbs-item {
        position: relative;
        display: inline-block;
        margin: 0 15px;

        a {
            color: @gray-dark;
            font-size: 16px;
            font-weight: bold;
            display: block;
            text-align: center;
            vertical-align: middle;
            width: 34px;
            height: 34px;
            border: 2px solid @gray-dark;
            border-radius: 18px;
            line-height: 30px;
            .box-shadow(0 0 3px rgba(0, 0, 0, 0.5));
        }

        &.active {
            a {
                border-color: @brand-primary;
                color: @brand-primary;
            }

            &:before {
                background: @brand-primary;
            }
        }

        &.done {
            a {
                border-color: @brand-success;
                color: @brand-success;
            }

            &:after {
                background: @brand-success;
            }

            &:before {
                background: @brand-success;
            }
        }

        &.has-errors {
            a {
                color: @brand-danger;
                border-color: @brand-danger;
            }

            &:after {
                background: @brand-danger;
            }

            &:before {
                background: @brand-danger;
            }
        }

        /* Line from the previous step */
        &:before {
            content: " ";
            position: absolute;
            width: 15px;
            left: -15px;
            height: 4px;
            top: 15px;
            background-color: @gray-dark;
        }

        /* Line to the next step */
        &:after {
            content: " ";
            position: absolute;
            width: 15px;
            right: -15px;
            height: 4px;
            top: 15px;
            background-color: @gray-dark;
        }

        /* Remove lines for first and last child */
        &:first-child {
            margin-left: 0;
            &:before {
                display: none;
            }
        }

        &:last-child {
            margin-right: 0;
            &:after {
                display: none;
            }
        }
    }
}