/**
 * List of Songs
 */
.song-list {
    .list-item {
        &.list-item-condensed {
            display: table;
            vertical-align: middle;
            width: 100%;

            .song-cover,
            .song-info {
                display: table-cell;
                vertical-align: middle;
            }

            .song-cover {
                width: 60px;

                img {
                    width: 60px;
                    height: auto;
                }
            }
        }
    }
}

