<div class="widget interval-player panel panel-default">
    <div class="panel-body">
        <!-- Direction of the interval -->
        <div class="row">
            <div class="col-md-6">
                <!-- Interval selector -->
                <h2 data-uib-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <a href="" role="button" id="interval-player-dropdown" data-uib-dropdown-toggle="">
                        <!-- Current selected interval -->
                        <span data-ng-if="intervalPlayerCtrl.interval">
                            {{ intervalPlayerCtrl.interval.attributes.symbol }} <small>{{ intervalPlayerCtrl.interval.attributes.name }}</small>
                        </span>

                        <!-- No interval selected -->
                        <em class="no-selected" data-ng-if="!intervalPlayerCtrl.interval">
                            -- {{ 'interval_select'|translate }} --
                        </em>

                        <span class="fa fa-caret-down pull-right"></span>
                    </a>

                    <ul class="dropdown-menu-check" data-uib-dropdown-menu="" aria-labelledby="interval-player-dropdown" data-layout-scrollable="" data-layout-scrollable-options="intervalPlayerCtrl.dropdownOptions">
                        <li data-ng-repeat="interval in intervalPlayerCtrl.intervals" data-ng-class="{ 'active': interval === intervalPlayerCtrl.interval }">
                            <a href="" data-ng-click="intervalPlayerCtrl.setInterval(interval)">
                                <span class="link-label"><b>{{ interval.attributes.symbol }}</b> - {{ interval.attributes.name }}</span>
                                <small data-translate="semitone_count"
                                       data-translate-values="{ COUNT: interval.attributes.value }"
                                       data-translate-interpolation="messageformat"></small>
                            </a>
                        </li>
                    </ul>
                </h2>
            </div>

            <!-- Direction -->
            <div class="col-md-3 text-center">
                <buttton type="button" class="btn btn-default text-left" data-ng-click="intervalPlayerCtrl.setDirection('ascending')" data-ng-class="{active: 'ascending' === intervalPlayerCtrl.direction}" data-uib-tooltip="{{ 'interval_ascending'| translate }}" data-tooltip-placement="bottom">
                    <span class="fa fa-fw fa-long-arrow-up" data-ng-class="{'text-primary': 'ascending' === intervalPlayerCtrl.direction}"></span>
                    <span class="sr-only">{{ 'interval_ascending'|translate }}</span>
                </buttton>

                <buttton type="button" class="btn btn-default text-right" data-ng-click="intervalPlayerCtrl.setDirection('descending')" data-ng-class="{active: 'descending' === intervalPlayerCtrl.direction}" data-uib-tooltip="{{ 'interval_descending'| translate }}" data-tooltip-placement="bottom">
                    <span class="fa fa-fw fa-long-arrow-down" data-ng-class="{'text-primary': 'descending' === intervalPlayerCtrl.direction}"></span>
                    <span class="sr-only">{{ 'interval_descending'|translate }}</span>
                </buttton>
            </div>

            <!-- Tempo -->
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="music-icon music-icon-tempo"></span>
                    </div>
                    <input type="text" class="form-control text-right" placeholder="tempo" data-ng-model="intervalPlayerCtrl.tempo" />
                </div>
            </div>
        </div>

        <div class="interval-player-current text-center">
            <!-- Reference note -->
            <div class="reference-note current-col">
                <a role="button" href="" data-ng-click="intervalPlayerCtrl.incrementReference()">
                    <span class="fa fa-caret-up"></span>
                </a>

                <div>
                    {{ intervalPlayerCtrl.referenceNote|note_name }}
                    <sub>{{ intervalPlayerCtrl.referenceNote.attributes.octave }}</sub>
                </div>

                <a role="button" href="" data-ng-click="intervalPlayerCtrl.decrementReference()">
                    <span class="fa fa-caret-down"></span>
                </a>
            </div>

            <!-- Current interval -->
            <div class="interval current-col {{ intervalPlayerCtrl.direction }}" data-ng-class="{unison: 0 == intervalPlayerCtrl.interval.attributes.value, ascending: 'ascending' === intervalPlayerCtrl.direction, descending: 'descending' === intervalPlayerCtrl.direction}">
                <div class="interval-semitones">
                    {{ ((0 === intervalPlayerCtrl.interval.attributes.value || intervalPlayerCtrl.interval.attributes.value) ? intervalPlayerCtrl.interval.attributes.value : '?') }}
                </div>
            </div>

            <!-- Calculated note -->
            <div class="calculated-note current-col">
                <div>
                    {{ (intervalPlayerCtrl.calculatedNote|note_name) || '?' }}
                    <sub>{{ ((0 === intervalPlayerCtrl.calculatedNote.attributes.octave || intervalPlayerCtrl.calculatedNote.attributes.octave) ? intervalPlayerCtrl.calculatedNote.attributes.octave : '?') }}</sub>
                </div>

                <!-- No calculated note
                <div data-ng-if="!intervalPlayerCtrl.calculatedNote">? <sub>?</sub></div>-->
            </div>
        </div>

        <!-- Play button -->
        <button type="button" class="btn btn-lg btn-block btn-default" data-ng-click="intervalPlayerCtrl.playInterval()" data-ng-class="{disabled: null === intervalPlayerCtrl.interval}">
            <span class="fa fa-fw fa-play"></span>
            {{ 'interval_play'|translate }}
        </button>
    </div>
</div>