ui-menu {
  position: fixed;
  background: $menu-bg;

  .menu-group-toggle {
    font-size: $menu-font-size;
    background: none;
  }

  .menu-group-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      position: relative;
      color: $menu-color;
      font-size: $menu-font-size;
      display: block;

      /* Active route */
      &.router-link-active {
        color: $menu-active-color;
      }
    }
  }
}

// Large screens
@include media-breakpoint-up(sm) {
  ui-menu {
    top: $header-height;
    left: 0;
    bottom: 0;
    width: $menu-width;

    .menu-group {
      display: block;
    }

    .menu-group-toggle {
      display: none;
    }

    .menu-group-links {

      a {
        text-align: center;
        padding-top: $grid-gutter-width / 2;
        padding-bottom: $grid-gutter-width / 2;
        line-height: 1;

        /* Active route */
        &.router-link-active:after {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 2px;
          content: " ";
          border-right: 2px solid $menu-active-color;
        }

        .menu-link-label {
          display: none;
        }
      }
    }
  }
}

// For small screens
@include media-breakpoint-down(sm) {
  ui-menu {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    display: table;

    .menu-group {
      display: table-cell;
      text-align: center;
    }

    .menu-group-toggle {
      display: inline-block;
      position: relative;
      width: 100%;
      padding-top: $navbar-padding-vertical;
      padding-bottom: $navbar-padding-vertical;
      border: none;
    }

    .menu-group-links {
      // Hide links (will be displayed by click on .menu-group-toggle)
      display: none;

      &.open {
        display: block;
      }

      /* Active route */
      .router-link-active {
        border-left: 2px solid $menu-active-color;
      }

      .menu-link-label {
        display: inline-block;
      }
    }
  }
}