{% extends '::base.html.twig' %}

{% block content_title %}{{ 'games'|trans }}{% endblock %}

{% block content %}
    <div class="game-list">
        {% for entity in entities %}

        {% else %}
            <div class="empty-list">
                {{ 'no_game_found'|trans }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
