<div class="note-selector row">
    <div class="col-md-2">
        <a href="" class="btn btn-lg btn-link">
            <span class="fa fa-chevron-left"></span>
        </a>
    </div>

    <div class="col-md-8 text-center note-current">
        <small>E</small>
        <small>F</small>
        <span>A</span>
        <small>B</small>
        <small>C</small>
    </div>

    <div class="col-md-2 text-right">
        <a href="" class="btn btn-lg btn-link">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>
</div>