<layout-page class="page-list chord-list">
    <!-- Header buttons -->
    <ui-header-buttons>
        <!-- Note menu -->
        <ui-header-button class="nav-link-default">
            <note-menu data-current="chordListCtrl.root"></note-menu>
        </ui-header-button>

        <li class="divider"></li>

        <!-- List format button -->
        <ui-header-button class="nav-link-default">
            <layout-list-formatter data-format="chordListCtrl.format"></layout-list-formatter>
        </ui-header-button>
    </ui-header-buttons>

    <!-- Title of the page -->
    <layout-page-title>
        Theory <small>Chords</small>

        <layout-list-sorter data-element="chord" data-count="chordListCtrl.resources.length" data-current="chordListCtrl.sortBy" data-reverse="chordListCtrl.sortReverse" data-fields="chordListCtrl.sortFields"></layout-list-sorter>
    </layout-page-title>

    <div class="row">
        <!-- List items -->
        <div data-ng-repeat="resource in chordListCtrl.resources|orderBy:chordListCtrl.sortBy:chordListCtrl.sortReverse"
             data-ng-include="'../app/Theory/Partial/Chord/List/item-' + chordListCtrl.format + '.html'"
             data-ng-class="{ 'col-md-12': 'tile' !== chordListCtrl.format, 'col-xs-12 col-sm-4 col-md-3 col-lg-2': 'tile' === chordListCtrl.format }"
        ></div>
    </div>
</layout-page>
