<layout-page>
    <!-- Title of the page -->
    <layout-page-title>
        My songbook

        <!-- New element -->
        <small data-ng-if="songFormCtrl.isNew()">New</small>

        <!-- Edit element -->
        <small data-ng-if="!songFormCtrl.isNew()">Edit</small>
    </layout-page-title>

    <!-- Header buttons -->
    <layout-page-buttons>
        <!-- Delete button while editing -->
        <layout-page-button data-ng-if="!songFormCtrl.isNew()" class="nav-link-danger">
            <a href="">
                <span class="fa fa-fw fa-trash-o"></span>
                Delete
            </a>
        </layout-page-button>

        <!-- Validate form -->
        <layout-page-button class="nav-link-default">
            <!--data-ng-click="songFormCtrl.validate()"-->
            <a href="" data-ng-click="songFormCtrl.validate()">
                <span class="fa fa-fw fa-check"></span>
                <span data-ng-if="songFormCtrl.isNew()">Create</span>
                <span data-ng-if="!songFormCtrl.isNew()">Edit</span>
            </a>
        </layout-page-button>

        <!-- Cancel -->
        <layout-page-button class="nav-link-default">
            <a href="#/songs">
                <span class="fa fa-fw fa-times"></span>
                Cancel
            </a>
        </layout-page-button>
    </layout-page-buttons>

    <!-- Form -->
    <form-component data-form-def="songFormCtrl.form">
        <div class="col-md-3">
            <div data-ngf-drop="" data-ng-model="songFormCtrl.entity.cover.file" class="file-upload-dropbox" accept="image/*" ngf-max-size="2MB">
                <div class="dropbox-info" data-ng-hide="songFormCtrl.entity.cover.file">
                    <span class="fa fa-music"></span>
                    Cover of the album
                </div>

                <div class="dropbox-thumb">
                    <img class="img-responsive" data-ngf-thumbnail="songFormCtrl.entity.cover.file" data-ng-show="songFormCtrl.entity.cover.file" />

                    <a href="" role="button" class="btn btn-danger" data-ng-click="songFormCtrl.entity.cover.file = null" data-ng-show="songFormCtrl.entity.cover.file">
                        <span class="fa fa-trash-o"></span>
                        <span class="sr-only">Remove upload file</span>
                    </a>
                </div>
            </div>

            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>

            <br>

            <span class="progress" ng-show="picFile.progress >= 0">
                <div style="width:{{ picFile.progress }}%" ng-bind="picFile.progress + '%'"></div>
            </span>

            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="song_title" class="control-label">Title</label>
                        <input type="text" class="form-control" name="song_title" id="song_title" data-ng-model="songFormCtrl.entity.title" />
                    </div>

                    <div class="form-group">
                        <label for="song_artist" class="control-label">Artist</label>
                        <input type="text" class="form-control" name="song_artist" id="song_artist" data-ng-model="songFormCtrl.entity.artist" />
                    </div>
                </div>
            </div>
        </div>
    </form-component>
</layout-page>