<layout-page class="page-list song-list">
    <!-- Header buttons -->
    <ui-header-buttons>
        <!-- New Song button -->
        <ui-header-button class="nav-link-default">
            <a href="#/songs/new">
                <span class="fa fa-fw fa-plus"></span>
                {{ 'new_song'|translate }}
            </a>
        </ui-header-button>

        <li class="divider"></li>

        <!-- List format button -->
        <ui-header-button class="nav-link-default">
            <layout-list-formatter data-format="songListCtrl.format"></layout-list-formatter>
        </ui-header-button>
    </ui-header-buttons>

    <!-- Title of the page -->
    <layout-page-title id="song-list">
        {{ 'my_songbook_title'|translate }}

        <layout-list-sorter data-element="song" data-count="songListCtrl.entities.length" data-current="songListCtrl.sortBy" data-reverse="songListCtrl.sortReverse" data-fields="songListCtrl.sortFields"></layout-list-sorter>
    </layout-page-title>

    <div class="row">
        <!-- List items -->
        <div data-ng-repeat="entity in songListCtrl.entities|orderBy:songListCtrl.sortBy:songListCtrl.sortReverse"
             data-ng-include="'../app/SongBook/Partial/List/item-' + songListCtrl.format + '.html'"
             data-ng-class="{ 'col-md-12': 'tile' !== songListCtrl.format, 'col-xs-12 col-sm-4 col-md-3 col-lg-2': 'tile' === songListCtrl.format }"
        ></div>
    </div>

    <!-- No element message -->
    <div class="empty-list" data-ng-if="songListCtrl.entities.length === 0">
        {{ 'no_song_found'|translate }}
    </div>
</layout-page>