<layout-page>
    <!-- Header buttons -->
    <layout-page-buttons>
        <layout-page-button class="nav-link-default">
            <a href="#/songs/new">
                <span class="fa fa-fw fa-plus"></span>
                {{ 'new_song'|translate }}
            </a>
        </layout-page-button>
    </layout-page-buttons>

    <!-- Title of the page -->
    <layout-page-title id="song-list">
        {{ 'my_songbook_title'|translate }}

        <layout-list-sorter data-count="songListCtrl.entities.length" data-current="songListCtrl.sortBy" data-reverse="songListCtrl.sortReverse" data-fields="songListCtrl.sortFields"></layout-list-sorter>
    </layout-page-title>

    <!-- List -->
    <div class="song-list col-md-12">
        <!-- List item -->
        <div class="song-item panel panel-default row" data-ng-class="{ 'panel-last': $last }" data-ng-repeat="entity in songListCtrl.entities|orderBy:songListCtrl.sortBy:songListCtrl.sortReverse" data-ng-if="songListCtrl.entities.length !== 0">
            <!-- Image -->
            <div class="cover col-md-1 col-sm-2 col-xs-3">
                <img class="img-responsive" data-ng-src="{{ (entity.cover.path || 'uploads/no-cover.png')|resource_path }}" />
            </div>

            <!-- Info -->
            <div class="col-md-11 col-sm-10 col-xs-9 panel-body">
                <h2 class="page-header">
                    {{ entity.title }}
                    <small data-ng-if="null !== entity.artist">{{ entity.artist }}</small>
                </h2>

                <score-field class="pull-right" data-model="entity.mastery" data-icon="music-icon music-icon-note"></score-field>

                <a class="btn btn-round btn-default" href="#/songs/{{ entity.id }}">
                    <span class="fa fa-fw fa-eye"></span>
                    <span class="sr-only">show</span>
                </a>

                <a class="btn btn-round btn-default" href="#/songs/{{ entity.id }}/edit">
                    <span class="fa fa-fw fa-pencil"></span>
                    <span class="sr-only">edit</span>
                </a>
            </div>
        </div>

        <div class="empty-list" data-ng-if="songListCtrl.entities.length === 0">
            {{ 'no_song_found'|translate }}
        </div>
    </div>
</layout-page>