<layout-page>
    <!-- Header buttons -->
    <layout-page-buttons>
        <layout-page-button class="nav-link-danger">
            <a href="">
                <span class="fa fa-fw fa-trash-o"></span>
                Delete
            </a>
        </layout-page-button>

        <layout-page-button class="nav-link-default">
            <a href="#/songs/{{ songShowCtrl.entity.id }}/edit">
                <span class="fa fa-fw fa-pencil"></span>
                Edit
            </a>
        </layout-page-button>
    </layout-page-buttons>

    <div class="song-show row">
        <div class="col-md-3 text-center">
            <!-- Cover -->
            <img class="img-responsive img-shadow" data-ng-src="{{ songShowCtrl.entity.cover.path ? (songShowCtrl.entity.cover.path|resource_path) : ('images/no-cover.png'|asset_path) }}" style="margin-bottom: 30px;" />

            <!--Rating-->
            <fieldset class="text-center" style="margin-bottom: 30px;">
                <legend>Rating</legend>
                <score-field data-model="songShowCtrl.entity.rating" data-icon="fa fa-star"></score-field>
            </fieldset>

            <!--Mastery-->
            <fieldset class="text-center" style="margin-bottom: 30px;">
                <legend>Mastery</legend>
                <score-field data-model="songShowCtrl.entity.mastery" data-icon="music-icon music-icon-note"></score-field>
            </fieldset>
        </div>

        <div class="col-md-9">
            <div class="content-header">
                <h1>
                    {{ songShowCtrl.entity.title }}
                    <small data-ng-if="null !== songShowCtrl.entity.artist">{{ songShowCtrl.entity.artist }}</small>
                </h1>
            </div>

            <ul class="song-resource-menu text-center">
                <!-- Sheet music -->
                <li role="presentation" class="active">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-music fa-stack-1x"></i>
                        </span>

                        <span class="resource-item">
                            <b>sheet music</b>
                            <small>1 element</small>
                        </span>
                    </a>
                </li>

                <!-- Medias -->
                <li role="presentation">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-file-sound-o fa-stack-1x"></i>
                        </span>

                        <span class="resource-item">
                            <b>medias</b>
                            <small>2 elements</small>
                        </span>
                    </a>
                </li>

                <!-- Records -->
                <li role="presentation">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-microphone fa-stack-1x"></i>
                        </span>

                        <span class="resource-item">
                            <b>records</b>
                            <small>2 elements</small>
                        </span>
                    </a>
                </li>

                <!-- Information -->
                <li role="presentation">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x"></i>
                        </span>

                        <span class="resource-item">
                            <b>information</b>
                        </span>
                    </a>
                </li>
            </ul>

            <sheet-music data-file="{{ asset('bundles/musictoolssongbook/libraries/alphaTab/Samples/JavaScript/files/AsILayDying-Reinvention.gpx') }}"></sheet-music>
        </div>
    </div>
</layout-page>
