<div class="user-dropdown" data-uib-dropdown="">
    <button type="button" data-uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
        <!-- Display User avatar -->
        <!--<img data-ng-if="null !== user && null !== user.avatar" class="user-avatar" src="" alt="User avatar" />-->

        <!-- OR the default avatar -->
        <div class="user-avatar no-avatar">
            <span class="glyphicon glyphicon-user"></span>
        </div>
    </button>

    <ul class="dropdown-menu" aria-labelledby="user-dropdown">
        <li class="dropdown-header">Elorfin</li>

        <li>
            <a href="#profile">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x"></i>
                </span>

                profile
            </a>
        </li>

        <li>
            <a href="#messages">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </span>

                messages
            </a>
        </li>

        <li>
            <a href="#badges">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-trophy fa-stack-1x"></i>
                </span>

                badges
            </a>
        </li>

        <li>
            <a href="#profile/settings">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-gears fa-stack-1x"></i>
                </span>

                settings
            </a>
        </li>

        <li role="separator" class="divider"></li>

        <li>
            <a href="#logout">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-power-off fa-stack-1x"></i>
                </span>

                sign out
            </a>
        </li>
    </ul>
</div>