<layout-page>
    <!-- Header buttons -->
    <ui-header-nav class="ui-header-tabs">
        <li role="presentation" class="active">
            <a href="">
                <span class="fa fa-fw fa-info"></span>
                information
            </a>
        </li>

        <li role="presentation">
            <a href="">
                <span class="fa fa-fw fa-eye"></span>
                visualization
            </a>
        </li>
    </ui-header-nav>

    <!-- Title of the page -->
    <layout-page-title>
        <a href="#/instruments">{{ 'my_instruments_title'|translate }}</a>

        <small>{{ showCtrl.resource.attributes.name || 'click to name the instrument' }}</small>
    </layout-page-title>

    <div class="instrument-show row">
        <div class="col-md-2">
            <div class="form-group" style="margin-bottom: 30px;">
                <div class="widget instrument-type">
                    <span>{{ showCtrl.resource.relationships.instrumentType.data.attributes.name }}</span>

                    <img class="img-responsive instrument-type-img" data-ng-src="{{ 'images/' + showCtrl.resource.relationships.instrumentType.data.attributes.icon |asset_path }}" />
                </div>
            </div>

            <div style="margin-bottom: 30px;">
                <ui-flag data-type="primary" data-value="isFavorite">
                    <span class="fa fa-heart"></span>
                    <span>Favorite</span>
                </ui-flag>

                <ui-flag data-type="info" data-value="isDefault">
                    <span class="fa fa-check-square-o"></span>
                    <span>Default</span>
                </ui-flag>
            </div>

            <a href="" class="btn btn-block btn-danger">
                <span class="fa fa-fw fa-trash-o"></span>
                Delete instrument
            </a>
        </div>

        <div class="col-md-10">
            <!-- Generic instrument information -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <!-- Manufacturer of the Instrument -->
                        <div class="form-group col-md-6">
                            <label class="control-label" for="instrument-manufacturer">Manufacturer</label>
                            <input type="text" class="form-control" id="instrument-manufacturer" data-ng-model="showCtrl.resource.attributes.manufacturer" data-ng-change="showCtrl.save()" />
                        </div>

                        <!-- Model of the Instrument -->
                        <div class="form-group col-md-6">
                            <label class="control-label" for="instrument-model">Model</label>
                            <input type="text" class="form-control" id="instrument-model" data-ng-model="showCtrl.resource.attributes.model" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom information for the InstrumentType -->
            <instrument-specification-form
                    data-type="showCtrl.resource.relationships.instrumentType.data"
                    data-specification="showCtrl.resource.relationships.specification.data">
            </instrument-specification-form>

            <div data-ng-if="showCtrl.resource.relationships.instrumentType"
                 data-ng-include="'Specification/' + showCtrl.resource.relationships.instrumentType.data.attributes.prefix + '/details.html'|partial_path:'app/Instrument'"
                 onload="specification = showCtrl.resource.relationships.specification.data">
            </div>
        </div>
    </div>
</layout-page>
