<!DOCTYPE html>

<html {% block angular_app %}{% endblock %}>
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords"    content="{% block keywords    %}{% endblock %}" />

    {# Favicon #}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

    {# Append Stylesheets #}
    {% block stylesheets %}
    {% include 'ElorfinUserInterfaceBundle:Layout:stylesheets.html.twig' %}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}

{# Append Javascripts #}
{% block javascripts %}
{% include 'ElorfinUserInterfaceBundle:Layout:javascripts.html.twig' %}
{% endblock %}
</body>
</html>
