<layout-page>
    <!-- Header buttons -->
    <ui-header-buttons>
        <!-- Delete button while editing -->
        <ui-header-button data-ng-if="formCtrl.resource.id" class="nav-link-danger">
            <a href="">
                <span class="fa fa-fw fa-trash-o"></span>
                Delete
            </a>
        </ui-header-button>

        <li class="divider" data-ng-if="formCtrl.resource.id"></li>

        <!-- Cancel -->
        <ui-header-button class="nav-link-default">
            <a href="#/instruments">
                <span class="fa fa-fw fa-times"></span>
                Cancel
            </a>
        </ui-header-button>

        <!-- Validate form -->
        <ui-header-button class="nav-link-default">
            <a href="" data-ng-click="formCtrl.submit()">
                <span class="fa fa-fw fa-check"></span>
                <span data-ng-if="!formCtrl.resource.id">Create</span>
                <span data-ng-if="formCtrl.resource.id">Edit</span>
            </a>
        </ui-header-button>
    </ui-header-buttons>

    <!-- Title of the page -->
    <layout-page-title>
        {{ 'my_instruments_title'|translate }}

        <!-- New element -->
        <small data-ng-if="!formCtrl.resource.id">New</small>

        <!-- Edit element -->
        <small data-ng-if="formCtrl.resource.id">Edit</small>

        <!-- List of available templates for the current InstrumentType -->
        <div class="instrument-templates" data-uib-dropdown="" data-ng-if="formCtrl.templates && 0 !== formCtrl.templates.length">
            <a href="" id="templates-dropdown" data-uib-dropdown-toggle="">
                <span class="fa fa-fw fa-database"></span>
                select a template to fill information
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu-check" data-uib-dropdown-menu="" aria-labelledby="templates-dropdown">
                <li data-ng-repeat="template in formCtrl.templates" data-ng-class="{ active: template === formCtrl.selectedTemplate }">
                    <a href="" role="button" data-ng-click="formCtrl.selectTemplate(template)">{{ template.attributes.name }}</a>
                </li>
            </ul>
        </div>
    </layout-page-title>

    <!-- Form -->
    <form class="instrument-form row">
        <div class="col-md-3">
            <div class="form-group" style="margin-bottom: 30px;">
                <div class="widget instrument-type">
                    <div data-uib-dropdown="">
                        <a href="" id="types-dropdown" data-uib-dropdown-toggle="">
                            {{ formCtrl.resource.relationships.instrumentType.data.attributes.name }}
                            <span class="fa fa-caret-down pull-right"></span>
                        </a>

                        <ul data-uib-dropdown-menu="" aria-labelledby="types-dropdown">
                            <li data-ng-repeat="instrumentType in formCtrl.instrumentTypes" data-ng-class="{'active': instrumentType.id == formCtrl.resource.relationships.instrumentType.data.id }">
                                <a href="" data-ng-click="formCtrl.setType(instrumentType)">{{ instrumentType.attributes.name }}</a>
                            </li>
                        </ul>
                    </div>

                    <img class="img-responsive instrument-type-img" data-ng-src="{{ 'images/' + formCtrl.resource.relationships.instrumentType.data.attributes.icon |asset_path }}" />
                </div>
            </div>

            <ui-flag data-type="primary" data-value="isFavorite">
                <span class="fa fa-heart"></span>
                <span>Favorite</span>
            </ui-flag>

            <ui-flag data-type="info" data-value="isDefault">
                <span class="fa fa-check-square-o"></span>
                <span>Default</span>
            </ui-flag>
        </div>

        <div class="col-md-9">
            <!-- Generic instrument information -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- Name of the Instrument -->
                    <div class="form-group">
                        <label class="control-label" for="instrument-name">Name</label>
                        <input type="text" class="form-control" id="instrument-name" data-ng-model="formCtrl.resource.attributes.name" />
                    </div>

                    <div class="row">
                        <!-- Manufacturer of the Instrument -->
                        <div class="form-group col-md-6">
                            <label class="control-label" for="instrument-manufacturer">Manufacturer</label>
                            <input type="text" class="form-control" id="instrument-manufacturer" data-ng-model="formCtrl.resource.attributes.manufacturer" />
                        </div>

                        <!-- Model of the Instrument -->
                        <div class="form-group col-md-6">
                            <label class="control-label" for="instrument-model">Model</label>
                            <input type="text" class="form-control" id="instrument-model" data-ng-model="formCtrl.resource.attributes.model" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom information for the InstrumentType -->
            <instrument-specification-form
                data-type="formCtrl.resource.relationships.instrumentType.data"
                data-specification="formCtrl.resource.relationships.specification.data">
            </instrument-specification-form>

            <div data-ng-if="formCtrl.resource.relationships.instrumentType"
                 data-ng-include="'Specification/' + formCtrl.resource.relationships.instrumentType.data.attributes.prefix + '/form.html'|partial_path:'app/Instrument'"
                 onload="specification = formCtrl.resource.relationships.specification.data">
            </div>
        </div>
    </form>
</layout-page>
