<layout-page>
    <!-- Header buttons -->
    <ui-header-buttons>
        <ui-header-button class="nav-link-danger">
            <a href="">
                <span class="fa fa-fw fa-trash-o"></span>
                Delete
            </a>
        </ui-header-button>

        <ui-header-button class="nav-link-default">
            <a href="#/instruments/{{ showCtrl.entity.id }}/edit">
                <span class="fa fa-fw fa-pencil"></span>
                Edit
            </a>
        </ui-header-button>
    </ui-header-buttons>

    <div class="instrument-show row">

    </div>
</layout-page>
